.mainContainer {
 padding: 32px 64px;
 min-width: 100vh;
 background: #0c111b;
}

.siteTitle,
.siteDescription {
 color: #fff;
 text-align: start;
}

.siteDescription {
 font-size: 1.2em;
 margin-bottom: 32px;
 margin-bottom: 62px;
}

.siteMovieType {
 color: #fff;
 margin-top: 16px;
 font-size: 1.2em;
 font-weight: 800;
}
